
  <!-- Default form login -->
     
    
    <div class="forml">  
  <form class="text-center border border-light p-5">
  
      <p class="h4 mb-4">Log in</p>
    
      <!-- Email -->
      <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    
      <!-- Password -->
      <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
    
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>
    
      <!-- Sign in button -->
      <button routerLink='/home' mdbBtn color="info" block="true" class="my-4" type="submit">Log in</button>
      
    
      <!-- Register -->
      <!-- Social login -->
      <p>or sign in with:</p>
    
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fa fa-facebook"></i> -->
        <mdb-icon icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fa fa-twitter"></i> -->
        <mdb-icon icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fa fa-linkedin"></i> -->
        <mdb-icon icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <!-- <i class="fa fa-github"></i> -->
        <mdb-icon icon="github"></mdb-icon>
      </a>
    
    </form>
  </div>
  
  

<!-- Default form login -->
