
<div class="sidebar rounded z-depth-3">
  <figure class="snip1390 mb-0 rounded-top">

  </figure>
  <h4>Offer Me</h4>
  <img src="assets/photo.jpg" alt="">
  <h5>Admin<br>Saumya</h5>
  

  <div class="vertical-menu">
      
    <a class="myboder waves-light" routerLinkActive="active" routerLink='/dash' mdbWavesEffect>Dashboard</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink='/add' mdbWavesEffect>Advertisement</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink='/user' mdbWavesEffect>Cutomer List</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink='/sub' mdbWavesEffect>Supplier List</a>
    <a class="myboder waves-light" routerLinkActive="active" routerLink='/profile' mdbWavesEffect>profile</a>
    
</div>
</div>


  