.add {
   align-content: center;
   
}
h4 {
    text-align: center;
}
.img {
  
   align-items: center;
}

.d1 { 
    color: brown;
}
h5 {
text-align: center;
}
a {
  text-align: center;  
}
.col {
    height: 50%;
}